@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/PeterW1992">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.dropbox.com/s/1pe4yebvo5uy8nq/CV%20New%20Layout.docx?dl=0">C.V</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/peter-williams-039418152/">Linkedin</a>
                </li>
            </ul>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
