@page "/"

<br />
    Welcome to the my website.
<br />

<p>
    To view a collection of software projects i've worked on, click on Software Projects Link.

    The footer contains a link to both my GitHub projects and C.V.
</p>
<br />

<br />

Peter Williams