@page "/woodworkprojects"

@using BlazorPersonalWebsite.Models
@using BlazorPersonalWebsite.Models.Interfaces
@inject IWoodworkProjectRepository WoodworkProjectRepo

<h3>Woodwork Projects</h3>

<ul>
    @foreach (var project in projects.OrderByDescending(p => p.DateCreated))
    {
        <li>@project.Name - @project.DateCreated.ToString("dd/MM/yyyy")</li>

    }
</ul>

@code {
    private List<WoodworkProject> projects;

    protected override async Task OnInitializedAsync()
    {
        projects = WoodworkProjectRepo.ListWoodworkProjects();
    }
}
