@page "/woodworkprojects"

@using BlazorPersonalWebsite.Models
@using BlazorPersonalWebsite.Models.Interfaces
@inject IWoodworkProjectRepository WoodworkProjectRepo

<h3>Woodwork Projects</h3>

<div class="projectList">
    @foreach (var project in projects.OrderByDescending(p => p.DateCreated))
    {
        <div class="projectListItem">
            <a href="woodworkProject?projectRef=@project.ProjectRef">
                <label class="projectName">@project.Name</label>
                <div class="projectListImageContainer">
                    @if (project.Images != null && project.Images.Count > 0)
                    {
                        <img class="projectListImage" src="@project.Images[0].ImageUrl" />
                    }
                </div>
            </a>
        </div>
    }
</div>

@code {
    private List<WoodworkProject> projects;

    protected override async Task OnInitializedAsync()
    {
        projects = WoodworkProjectRepo.ListWoodworkProjects();
    }
}
