<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorPersonalWebsite</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jobapplications">
                <img src="/images/icons/suitcase.png" style="width:30px; margin-right:5px" /> Jobs applied for
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="softwareprojects">
                <img src="/images/icons/software-project.png" style="width: 30px; margin-right: 5px;" /> Software projects
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="woodworkprojects">
                <img src="/images/icons/woodworking.png" style="width:30px; margin-right:5px" /> Woodwork projects
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
