@page "/editsoftwareproject"

@if (project == null)
{
    <label>Error display product!</label>
}
else
{
    <EditForm Model="@project">

        <div>
            <label>
                Name:
                <InputText id="projectName" @bind-Value="project.Name"></InputText>
            </label>
        </div>

        <div>
            <label>
                Description:
                <InputText id="projectDescription" @bind-Value="project.Description"></InputText>
            </label>
        </div>

        <table class="table">
            <tr>
                <th>Image Ref</th>
                <th>Image Url</th>
                <th>Description</th>
            </tr>
            @foreach (var img in project.Images)
            {
                <tr>
                    <td>
                        @img.ImageRef
                    </td>
                    <td>
                        <InputText id="imageUrl" @bind-Value="img.ImageUrl"></InputText>
                    </td>
                    <td>
                        <InputText id="imageDescription" @bind-Value="img.Description"></InputText>
                    </td>
                    <td>
                        <button id="deleteImage" @onclick="@(e => RemoveProjectImage(img.ImageRef))">Delete</button>
                    </td>
                </tr>
            }
        </table>

        <div>
            <label>
                Date Created:
                <InputDate id="createdDate" @bind-Value="project.DateCreated"></InputDate>
            </label>
        </div>

        <div>
            <label>
                Image Ref:
                <InputText id="imageRef" @bind-Value="newImage.ImageRef"></InputText>
            </label>
        </div>

        <div>
            <label>
                Image Url:
                <InputText id="imageUrl" @bind-Value="newImage.ImageUrl"></InputText>
            </label>
        </div>

        <div>
            <label>
                Description:
                <InputText id="imageDescription" @bind-Value="newImage.Description"></InputText>
            </label>
        </div>

        <button type="button" @onclick="AddProjectImage">Add Image</button>

        <button type="submit" @onclick="UpdateSoftwareProject">Update</button>
    </EditForm>
}
