@page "/jobapplications"

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Date Applied
        </th>
    </tr>
    @foreach (var jobApplication in jobApplications)
    {
<tr>
    <td>
        @jobApplication.Title
    </td>
    <td>
        @jobApplication.Description
    </td>
    <td>
        @jobApplication.DateAppliedFor
    </td>
    <td>
        <button @onclick="@(e => RemoveJobApplication(jobApplication.JobApplicationRef))">Remove</button>
    </td>
</tr>
    }
</table>

<AddJobApplication OnAdd="RefreshList"></AddJobApplication>