@page "/woodworkprojects"

@using BlazorPersonalWebsite.ViewModels
@using BlazorPersonalWebsite.Services
@inject IWoodworkProjectService WoodworkProjectService

<h3>Woodwork Projects</h3>

<div class="row">
    @if (projects != null)
    {
        @foreach (var project in projects)
        {
            <div class="col-md-3">
                <label class="projectName">@project.Name</label>
                <div class="thumbnail">
                    @if (project.Images != null && project.Images.Count > 0)
                    {
                        <a href="woodworkProject?projectRef=@project.ProjectRef">
                            <img src="@project.Images[0].ImageUrl" alt="@project.Images[0].Description" style="width:100%" />
                        </a>
                    }
                </div>
            </div>
        }
    }
    else 
    {
        <label>No projects to display</label>
    }
</div>

@code {
    private IEnumerable<WoodworkProject> projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await WoodworkProjectService.GetWoodworkProjectsAsync();
    }
}
